.bottom-header {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 98;
    background: #fff;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.wrapper-bottom-header {
    display: flex;
    flex: 1 1 100%;
    height: 90px;
    line-height: 90px;
    position: relative;
}

.left-header {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
}

@media (max-width: 770px) {
    .wrapper-bottom-header .left-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper-bottom-header .left-header img {
        height: 70px;
        width: auto;
    }
}

img {
    height: 90px;
    width: auto;
    vertical-align: middle;
    border-style: none;
}

.bot-right-header {
    display: flex;
    flex: 1 0 auto;
}

ul.menu {
    padding: 0;
    display: flex;
    list-style-type: none;
    cursor: pointer;
    margin: 0;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1em;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul.menu>li:not(.menu__item--multiple-item) {
    position: relative;
}

@media (max-width: 770px) {
    .wrapper-bottom-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .bot-right-header{
        display: none!important;
    }
}

ul.menu>li {
    padding: 0;
}

ul.menu li {
    font-size: 16px;
    color: #0072bc;
    font-weight: 500;
}

ul.menu li:hover {
    background: #f7941e; /* Màu nền khi di chuột vào */
}
  
ul.menu li:hover a {
    color: #fff; /* Màu chữ khi di chuột vào */
}

ul.menu>li>a {
    padding: 0 17.5px;
    display: block;
}

a {
    transition: unset!important;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a, area, button, [role=button], input:not([type=range]), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a {
    color: #1890ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s;
    -webkit-text-decoration-skip: objects;
}

.arrow {
    display: inline-block;
    border: solid #0072bc;
    border-width: 0 1px 1px 0;
    padding: 3px;
    margin-left: 9px;
    margin-bottom: 3px;
    transform: rotate(45deg); /* Mặc định là 45 độ */
    transition: transform 0.3s; /* Thêm transition cho thuộc tính transform */
}

.arrow.up {
    transform: rotate(-135deg); /* Xoay mũi tên khi trạng thái là up */
}

ul.menu li .sub-menu {
    width: unset;
}

.sub-menu {
    /* display: none; */
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
}

.sub-menu-item-list a:hover {
    background: #cfcfcf; /* Màu nền khi di chuột vào */
    color: #fff; /* Màu chữ khi di chuột vào */
}

  
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.sub-menu-item {
    border: 1px solid rgba(175,175,175,.3);
    border-top: none;
    width: 285px;
    background: #fff;
    border-bottom: 4px solid #f7941e;
}

.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

.sub-menu-item a {
    display: block;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 35px;
    border-bottom: 5px solid #fff;
    text-decoration: none;
    box-sizing: border-box;
    color: #0072bc!important;
}
