.bottom-header {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 98;
    background: #fff;
}

.wrapper-bottom-header {
    display: flex;
    flex: 1 1 100%;
    height: 90px;
    line-height: 90px;
    position: relative;
}

.bot-left-header {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
}

@media (max-width: 785px) {
    .wrapper-bottom-header .bot-left-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper-bottom-header .bot-left-header img {
        height: 90px;
        width: auto;
        padding-left: 50px;
    }
}

.bot-left-header img {
    height: 90px;
    width: auto;
    vertical-align: middle;
}

.bot-right-header {
    display: flex;
    flex: 1 0 auto;
}

ul.menu {
    display: flex;
    list-style-type: none;
}

ul.menu>li.has-submenu {
    position: relative;
}

@media (max-width: 785px) {
    .wrapper-bottom-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .bot-right-header{
        display: none!important;
    }
}

ul.menu li {
    font-size: 16px;
    color: #0072bc;
    font-weight: 500;
}

ul.menu li:hover {
    background: #f7941e; /* Màu nền khi di chuột vào */
    color: #fff;
}
  
ul.menu li:hover a {
    color: #fff; /* Màu chữ khi di chuột vào */
}

ul.menu>li>a {
    padding: 0 17.5px;
    display: block;
}

ul.menu li a {
    color: #1890ff;
    text-decoration: none;
}

.arrow {
    display: inline-block;
    border: solid #0072bc;
    border-width: 0 1px 1px 0;
    padding: 3px;
    margin-left: 9px;
    margin-bottom: 3px;
    transform: rotate(45deg); /* Mặc định là 45 độ */
    transition: transform 0.3s; /* Thêm transition cho thuộc tính transform */
}

.arrow.up {
    transform: rotate(-135deg); /* Xoay mũi tên khi trạng thái là up */
}

ul.menu li .sub-menu {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
}

.sub-menu-item {
    border: 1px solid rgba(175,175,175,.3);
    border-top: none;
    width: 285px;
    background: #fff;
    border-bottom: 4px solid #f7941e;
}

.sub-menu-item a {
    display: block;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 35px;
    border-bottom: 5px solid #fff;
    text-decoration: none;
    box-sizing: border-box;
    color: #0072bc!important;
}

.sub-menu-item a:hover {
    background: #cfcfcf; 
}

.sidebar-header {
    position: absolute;
    width: 100%;
    top: 89px;
    z-index: 999;
    height: calc(100vh - 139px);
    overflow: hidden;
}

.sidebar-header.hide {
    display: none;
}

.sidebar-header.show {
    display: block;
}

.content-sidebar {
    width: 75%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.content-sidebar>ul>li {
    line-height: 83px;
    color: #f7941e;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    padding-left: 30px;
}

.content-sidebar>ul>li a {
    color: #f7941e;
    padding-right: 20px;
    display: block;
    text-decoration: none !important;
}

.content-sidebar .sidebar-sub-menu a {
    width: 100%;
    padding-left: 20px;
}

.sidebar-sub-menu a:hover {
    background-color: #cfcfcf;
}

div.menu-button-show {
    display: none;
    padding: 36px 15px;
}

div.menu-button-show:hover {
    background: #f7941e;
}

@media (max-width: 785px) {
    div.menu-button-show {
        display: block;
    }
}

@media (min-width: 786px) {
    .sidebar-header {
        display: none !important;
    }
}
