.sub-col {
    flex-grow: 1;
    text-align: center;
}

.sub-col a {
    color: #0072bc;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 24px;
    text-decoration: none;
}

.sub-col a p {
    padding : 0px 10px 0px 10px;
    margin: 15px 0px 10px 0px;
}