* {
    box-sizing: border-box;
}

div {
    text-align: center;
    display: block;
}

@media (max-width: 575px) {
    .right-header__label, .language {
        display: none;
    }
    .top-header {
        height: 40px;
    }
}

.top-header {
    background-color: #f0f0f0;
}

.container-lg {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

@media (max-width: 575px) {
    .top-header .wrapper-top-header {
        margin: 0 -15px;
        line-height: 40px;
    }
}

.wrapper-top-header {
    display: flex;
    flex: 1 1 100%;
    height: 50px;
    line-height: 50px;
}

.wrapper-top-header .left-header {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}


.left-header {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
}

.wrapper-top-header .left-header span {
    font-size: 20px;
}

.right-header__label, .left-header__label {
    color: #0072bc;
}

.wrapper-top-header .left-header span.hotline1 {
    font-weight: bold;
    color: #0072bc;
}

.right-header {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.language {
    color: #0072bc;
    font-weight: bold;
}

.right-header {
    vertical-align: unset;
}

.arrow-menu {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid #0072bc;
    border-width: 0 2px 2px 0;
    padding: 2px;
    margin-left: 9px;
    margin-bottom: 4px;
    transform: rotate(45deg);
    transition: transform 0.3s; /* Thêm transition cho thuộc tính transform */
}

.arrow-menu.up {
    transform: rotate(-135deg); /* Xoay mũi tên khi trạng thái là up */
}

.login {
    background: #f7941e;
    padding: 0 12px;
    color: #fff;
    font-weight: 500;
    margin-left: 30px;
}

.login>a {
    color: #fff;
}

.login>a:hover {
    color: rgb(75, 168, 255);
}

.wrapper-top-header, .wrapper-top-header, .wrapper-top-header .login>a:active {
    color: #fff;
}